<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:300,400,500,700,900"
    rel="stylesheet">

  <title>EV Charge Stations</title>
  <link rel='stylesheet' href="https://unpkg.com/aos@2.3.0/dist/aos.css" />
  <link rel='stylesheet' href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
  <link rel="stylesheet" href="/style.css">
  <script type="text/javascript" src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>

</head>

<body>
  <header>
    <div class="headerBg"></div>
    <nav>
      <h3><a href="#" class="logo">EV Charging Stations Api</a></h3>
      <div class="navLinksWrapper">
        <a href="github.com/mevolkan/evmapbackend">Contribute</a>
        <a href="https://evkenya.netlify.app/" class="button">View</a>
      </div>
    </nav>
    <div class="headerCopy">
      <h1>A New Wave of data presentation</h1>
    </div>
    <div class="headerImage"></div>
  </header>
  <main>
    <section class="section intro">
      <h2>One-of-a-kind point to collect and display charging stations for EVs in Kenya</h2>
    </section>
    <section class="section teaser teaserYarns mobileCenter">
      <div class="sectionImg"></div>
      <div class="sectionCopy" data-aos="fade-up">

        <h3>Check out the project</h3>
        <p>Submit a pull request with feature requests to be added</p>
        <a href="github.com/mevolkan/evmapbackend" class="button">Github</a>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footerLinksContainer">
      <div class="footerLinks">
        <a href="https://evkenya.netlify.app/">Map of Charging stations</a>
      </div>
    </div>
    <div class="newsletter">
      <div class="socialLinks">
        <a class="iconSocial" href="https://twitter.com/mevolkan"><i class="fab fa-twitter"></i></a>
        <a class="iconSocial" href="github.com/mevolkan/"><i class="fab fa-github"></i></a>
      </div>
  </footer>
  <script type="text/javascript">
    //initialize AOS transitions
    AOS.init({
      duration: 1000,
      mirror: false
    })
  </script>
</body>

</html>